*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;

}

header{
    width: 100%;
    display: flex;
    background-color: blue;
    color: aliceblue;
    padding: 2%;
    justify-content: space-between;
    ul{
        display: flex;
        gap: 24px;
        list-style-type: none;
        padding: 4%;
    }
}

.Logotipo{
    width:60px;
}

section{
    padding: 10px;
    .menu_options{
        display: flex;
        menu{
            list-style-type: none;
            display: flex;
            justify-content:space-evenly;
            gap: 10px;

        }
    
    }
}

